In [1]:
import pandas as pd

In [2]:
nba = pd.read_csv("nba_2013.csv")

In [3]:
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

### Finding data in a data set

In [9]:
#Implementing an Algorithm ##

# When the algorithm finds Kobe in the data set, store his position in Kobe_position
kobe_position = ""

for index,row in nba.iterrows():
    #print(row[1])
    if row[0] == "Kobe Bryant":
        kobe_position = row[1]
        print(kobe_position)

kobe_position

SG

'SG'

### Linear Search with Modular Code

In [27]:
# player_age returns the age of a player in our NBA data set
def player_age(data, name):    
    for index,row in data.iterrows():
        #if the function doesn't find the player, it should return -1
        age = -1
        if row[0] == name:
            #age = row[2]
            return row[2]
    return -1

In [28]:
allen_age  = player_age(nba, "Ray Allen")
allen_age

38

In [25]:
durant_age = player_age(nba, "Kevin Durant")
durant_age

25

In [29]:
shaq_age   = player_age(nba, "Shaquille O'Neal")  
shaq_age

-1

### Recognizing Constant time algorithms

In [33]:
# Implementation A: Convert degrees Celcius to degrees Fahrenheit
def celcius_to_fahrenheit(degrees):
    step_1 = degrees * 1.8
    step_2 = step_1 + 32
    return step_2

In [31]:
# Implementation B: Reverse a list
def reverse(ls):
    length = len(ls)
    new_list = []
    for i in range(length):
        new_list[i] = ls[length - i - 1]
    return new_list

In [32]:
# Implementation C: Print a blastoff message after a countdown
def blastoff(message):
    count = 10
    for i in range(count):
        print(count - i)
    print(message)

not_constant = "B"

### Some other algorithms

In [34]:
def length(ls):
    count = 0
    for elem in ls:
        count = count + 1
        
length_time_complexity = "linear"

In [35]:
def is_empty_1(ls):
    if length(ls) == 0:
        return True
    else:
        return False
    
is_empty_1_complexity = "linear"

In [36]:
def is_empty_2(ls):
    for element in ls:
        return False
    return True

is_empty_2_complexity = "constant"